.form-container {
    display: flex;
    margin-top: 100px;
    position: center;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    width: 40%;
    flex-direction: column;
  }
  
  .error {
    background-color: #d84f4f;
    padding: 10px;
  }
  
  .success {
    background-color: #73cc73;
    padding: 10px;
  }