
#left-box {
    width: 50%;
    height: 100%;
    border: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right-box{
    width: 50%;
    height: 100%;
    padding-top: 70px;

}

#main-container{
    display: flex;
    height: 100%;
}

.accordion{
    width: 70%;
}
