.demo-table {
    width: 50%;
  }
  .mat-cell{
    padding-left: 30px;
  }
  th.mat-header-cell{
    padding-left: 30px;
  }
  .mat-table{
    text-align: center !important;
    width: min-content;
  }

  th.mat-header-cell {
    text-align: center !important;
  }
  
  .float-container {
    padding-top: 90px;
    height: 100%;
    display: flex;
}

.float-child {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
}  

@media (max-width: 1100px){
  .float-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#img{
  max-width: 95%;
  height: auto;
}