.demo-table {
    width: 50%;
  }
  .mat-cell{
    padding-left: 30px;
  }
  th.mat-header-cell{
    padding-left: 30px;
  }
  .mat-table{
    text-align: center !important;
    width: min-content;
  }

  th.mat-header-cell {
    text-align: center !important;
  }
  
  .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding-left: 130px;
    padding-right: 100px;
}  