
  
<div class="float-container">

  <div class="float-child">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Symptom Column -->
      <ng-container matColumnDef="symptom">
        <th mat-header-cell *matHeaderCellDef> Symptom </th>
        <td mat-cell *matCellDef="let element"> {{element.symptom}} </td>
      </ng-container>
    
      <!-- Covid Column -->
      <ng-container matColumnDef="covid">
        <th mat-header-cell *matHeaderCellDef> Covid-19 </th>
        <td mat-cell *matCellDef="let element"> {{element.covid}} </td>
      </ng-container>
    
      <!-- Flu Column -->
      <ng-container matColumnDef="flu">
        <th mat-header-cell *matHeaderCellDef> Flu </th>
        <td mat-cell *matCellDef="let element"> {{element.flu}} </td>
      </ng-container>
    
      <!-- Cold Column -->
      <ng-container matColumnDef="cold">
        <th mat-header-cell *matHeaderCellDef> Cold </th>
        <td mat-cell *matCellDef="let element"> {{element.cold}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
  </div>
  
  <div class="float-child">
    <img id="img" src="assets/img/Symptoms.jpg" width="770" height="350" class="align-right" alt="">
  </div>
  
</div>